<mat-card class="card">

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container> -->

      <!-- Position Column -->
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <ng-container *ngIf="column === 'select';else elseBlock" sticky>
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </mat-header-cell>
        </ng-container>
        <ng-template #elseBlock>
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>
        </ng-template>


        <mat-cell *matCellDef="let element;let index = index">
          <ng-container *ngIf="column === 'select'">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
              [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
            </mat-checkbox>
          </ng-container>
          <ng-container *ngIf="column ===  'position'">         
            {{element[column]}}
          </ng-container>
          <ng-container *ngIf="column === 'name'">
            <editable (update)="updateField(index, 'name')">
              <ng-template viewMode>
                {{element[column]}}
              </ng-template>
              <ng-template editMode>
                <mat-form-field class="example-full-width">
                  <input matInput
                    [class.is-invalid]="getControl(index , 'name').invalid && getControl(index , 'name').touched"
                    [formControl]="getControl(index, 'name')">
                  <mat-error *ngIf="getControl(index, 'name').hasError('required')">
                    This Field is required!
                  </mat-error>
                </mat-form-field>
              </ng-template>
            </editable>
          </ng-container>
          <ng-container *ngIf="column === 'weight'">
            <editable (update)="updateField(index, 'weight')">
              <ng-template viewMode>
                {{element[column]}}
              </ng-template>
              <ng-template editMode>
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="getControl(index, 'weight')">
                </mat-form-field>
              </ng-template>
            </editable>
          </ng-container>
          <ng-container *ngIf="column === 'symbol'">
            <editable (update)="updateField(index, 'symbol')">
              <ng-template viewMode>
                {{element[column]}}
              </ng-template>
              <ng-template editMode>
                <mat-form-field class="example-full-width">
                  <input matInput [formControl]="getControl(index, 'symbol')" focusable editableOnEnter>
                  <mat-error *ngIf="getControl(index, 'symbol').hasError('required')">
                    This Field is required!
                  </mat-error>
                </mat-form-field>
              </ng-template>
            </editable>
          </ng-container>
          <ng-container *ngIf="column === 'status'">
            <editable (update)="updateField(index, 'status')">
              <ng-template viewMode>
                {{element[column]}}
              </ng-template>
              <ng-template editMode>
                <mat-form-field class="example-full-width">
                  <mat-select [(value)]="selected" [formControl]="getControl(index, 'status')" focusable
                    editableOnEnter>
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
            </editable>
          </ng-container>
        </mat-cell>
      </ng-container>
      


      <!-- <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element;let index = index">
      <editable (update)="updateField(index, 'name')">
        <ng-template viewMode>
          {{element.name}}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input matInput [class.is-invalid]="getControl(index , 'name').invalid && getControl(index , 'name').touched" [formControl]="getControl(index, 'name')">
            <mat-error *ngIf="getControl(index, 'name').hasError('required')">
             This Field is required!
            </mat-error>
          </mat-form-field>
        </ng-template>
      </editable>
    </mat-cell>


  </ng-container> -->


      <!-- <ng-container matColumnDef="weight">
    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
    <mat-cell *matCellDef="let element;let index = index">
      <editable (update)="updateField(index, 'weight')">
        <ng-template viewMode>
          {{element.weight}}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="getControl(index, 'weight')">
          </mat-form-field>
        </ng-template>
      </editable>
    </mat-cell>
  </ng-container> -->


      <!-- <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element;let index = index">
      <editable (update)="updateField(index, 'symbol')">
        <ng-template viewMode>
          {{element.symbol}}
        </ng-template>
        <ng-template editMode>
          <mat-form-field class="example-full-width">
            <input matInput [formControl]="getControl(index, 'symbol')" focusable editableOnEnter>
            <mat-error *ngIf="getControl(index, 'symbol').hasError('required')">
                This Field is required!
               </mat-error>
          </mat-form-field>
        </ng-template>
      </editable>
    </mat-cell>
  </ng-container> -->

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="selection.toggle(row)"></mat-row>
    </table>


    <div class="example-container mat-elevation-z8">
      <button mat-raised-button color="primary" (click)="removeSelectedRows()">
        Remove Selected Rows
      </button>
      <button mat-raised-button (click)="addColumn()"> Add column </button>
      <div class="btn-group">
       
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" *ngFor= "let items of options;let index = index" (click)="addColumn(index)"><img class="drp-img" [src]="items.icon">{{items.field}}</a>
        </div>
      </div>
    </div>
<div class="container">
    <mat-form-field>
        <input matInput [(ngModel)] = "position" type="text">
        <input matInput [(ngModel)] = "name" type="text">
        <input matInput [(ngModel)] = "weight" type="text">
        <input matInput [(ngModel)] = "symbol" type="text">
        <mat-select [(value)]="status">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
        
       </mat-form-field>
       <button mat-raised-button (click) = "addRow()">Add</button>
</div>

  </mat-card-content>
</mat-card>

